.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.login-card {
  width: 400px;
  margin: 5% auto;
}

.mat-card-title {
  font-size: 18px;
}

.mat-form-field{
  font-size: 17px;
}
