// Adjust your logo position
.mat-icon {
    &.mat-icon-logo {
      position: relative;
      top: -4px;
    }
}
.logo {
  background: rgba(255, 255, 255, 0.2);
  margin-left: 420px;;
}

.heading-list-menu{
}
