<td-layout>
    <td-layout-nav color="primary">
        <div td-toolbar-content layout="row" layout-align="start center" flex>
            <button mat-icon-button class="td-menu-button" (click)="sidenav.toggle()" mdTooltip="Main menu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-icon class="mat-icon-logo" svgIcon="assets:covalent"></mat-icon>
            <!-- <div class="logo"></div> -->
            <span>HỆ THỐNG QUẢN LÍ SỔ ĐỎ</span>
            <span flex></span>
            <span class="logo"></span>
            <button class="logo" mat-button *ngIf="user" [matMenuTriggerFor]="menu">
                <mat-icon>account_circle</mat-icon>
                Admin : {{user.fullname}}
            </button>
            <mat-menu #menu="matMenu">
                <button mat-button mat-list-item (click)="logout()">
                    <mat-icon matListIcon color="warn">exit_to_app</mat-icon>Đăng xuất
                </button>
            </mat-menu>
        </div>
        <mat-sidenav-container fullscreen>
            <mat-sidenav #sidenav mode="side" opened="true" style="width:90px;border-right:1px solid #ccc">
                <div flex class="mat-content bgc-grey-50">
                    <mat-nav-list>
                         <a mat-list-item class="mat-body-strong" matTooltip="Danh sách chức năng">
                            <mat-icon matListIcon color="warn">dashboard</mat-icon>
                        </a>
                        <mat-divider></mat-divider>
                        <a mat-list-item routerLink="/admin/add" matTooltip="Thêm mới sổ đỏ " >
                            <mat-icon matListIcon color="warn">add</mat-icon>
                            <!-- Thêm mới sổ đỏ -->
                        </a>
                        <a mat-list-item routerLink="/admin/list" matTooltip="Danh sách ">
                            <mat-icon matListIcon color="warn">list</mat-icon>
                            <!-- Danh sách -->
                        </a>
                        <a mat-list-item routerLink="/admin/map" matTooltip="Bản đồ ">
                            <mat-icon matListIcon color="warn">place</mat-icon>
                            <!-- Bản đồ -->
                        </a>
                        <a mat-list-item matTooltip="Thống kê " routerLink="/admin/chart">
                            <mat-icon matListIcon color="warn">business</mat-icon>
                            <!-- Thống kê -->
                        </a>
                        <mat-divider></mat-divider>
                        <a mat-list-item matTooltip="Cài đặt">
                            <mat-icon matListIcon color="warn">settings</mat-icon>
                            <!-- Cài đặt -->
                        </a>
                        <a mat-list-item matTooltip="LAN ">
                            <mat-icon matListIcon color="warn">help</mat-icon>
                            <!-- LAN -->
                        </a>
                        <a mat-list-item matTooltip=" Tài liệu ">
                            <mat-icon matListIcon color="warn">help</mat-icon>
                            <!-- Tài liệu -->
                        </a>
                        <a mat-list-item (click)="logout()" matTooltip="Đăng xuất">
                            <mat-icon matListIcon color="warn">exit_to_app</mat-icon>
                            <!-- Đăng xuất -->
                        </a> 
                    </mat-nav-list>
                </div>
            </mat-sidenav>
            <div tdMediaToggle="gt-xs" [mediaClasses]="['push-md']" style="height:100%;">
                <mat-card>
                    <router-outlet></router-outlet>
                </mat-card>
            </div>
        </mat-sidenav-container>
    </td-layout-nav>
    <td-layout-footer>
        <div layout="row" layout-align="start center">
            <span class="mat-caption">Copyright &copy; 2019 LANANH. <b>Theo bản quyền của Nguyễn Danh Nam</b></span>
        </div>
    </td-layout-footer>
</td-layout>