<mat-grid-list [cols]="breakpoint" rowHeight="4:1" (window:resize)="onResize($event)">
  <mat-grid-tile>
    <p class="example-full-width mat-body-strong">Chủ sở hữu hiện tại : {{ownername}}</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <form class="example-form" class="example-full-width">
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Chọn chủ sở hữu mới hoặc thêm" aria-label="Tên" matInput [formControl]="myOwner"
          [matAutocomplete]="auto">
          <button matSuffix mat-mini-fab color="accent" matTooltip="Thêm chủ sở hữu khác" (click)="displayModalPerson()" >
            <mat-icon >add</mat-icon>
        </button>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.code" >
            {{option.owner_name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="picker" placeholder="Thời gian thực hiện" [(ngModel)]="date" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-form-field class="example-full-width">
          <mat-label>Loại giao dịch</mat-label>
          <mat-select [(ngModel)]="type">
            <mat-option [value]="0" >
              Chuyển nhượng( thừa kế)
            </mat-option>
            <mat-option [value]="1">
                Mua bán 
              </mat-option>
          </mat-select>
        </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Giá trị giao dịch" [(ngModel)]="amount" type="number" required>
        </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Chi tiết giao dịch" [(ngModel)]="detail" required></textarea>
        </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>

  </mat-grid-tile>
  <mat-grid-tile>
      <button mat-raised-button color="primary" (click)="addTrans()">Lưu</button>
  </mat-grid-tile>
</mat-grid-list>

 <!-- form add person -->
<nz-modal [(nzVisible)]="isVisibleModal" nzTitle="Thêm chủ sở hữu" (nzOnCancel)="cancelModal()"  nzZIndex="50"
    (nzOnOk)="addPerson()" nzWidth="1000" nzHeight="600" [nzFooter]="modalFooter"
    >
    <app-add-person #addPerson *ngIf="personForm" [personForm]="personForm"></app-add-person>
    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="cancelModal()">Huỷ</button>
        <button nz-button nzType="primary" (click)="addPerson()" >OK</button>
      </ng-template>
  </nz-modal>