<mat-grid-list cols="2" rowHeight="4:1">
  <mat-grid-tile>
    <p class="example-full-width mat-h1">Chủ ở hữu hiện tại : Nam</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <form class="example-form" class="example-full-width">
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Chọn chủ sở hữu mới" aria-label="Tên" matInput [formControl]="myOwner"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.code" >
            {{option.owner_name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button mat-mini-fab color="accent" matTooltip="Thêm chủ sở hữu khác" >
          <mat-icon >add</mat-icon>
      </button>
    </form>
    <!-- <mat-slide-toggle [checked]="isHasOwner">Thêm chủ sở hữu</mat-slide-toggle> -->
  </mat-grid-tile>
  <!-- <mat-grid-tile class="example-full-width" [colspan]="2">
      <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Nếu chưa có chủ sở hữu
              </mat-panel-title>
              <mat-panel-description>
               Nhập thông tin chủ sở hữu mới
              </mat-panel-description>
            </mat-expansion-panel-header>
        
          </mat-expansion-panel>
      
        </mat-accordion>
  </mat-grid-tile> -->
  <mat-grid-tile>
      <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="picker" placeholder="Thời gian thực hiện" [(ngModel)]="date" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-form-field class="example-full-width">
          <mat-label>Loại giao dịch</mat-label>
          <mat-select [(ngModel)]="type">
            <mat-option [value]="0" >
              Chuyển nhượng( thừa kế)
            </mat-option>
            <mat-option [value]="1">
                Mua bán 
              </mat-option>
          </mat-select>
        </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Giá trị giao dịch" [(ngModel)]="amount" type="number" required>
        </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Chi tiết giao dịch" [(ngModel)]="detail" required></textarea>
        </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
      <button mat-raised-button color="primary" (click)="addTrans()">Lưu giao dịch</button>
      <!-- <button mat-raised-button color="primary" (click)="addTrans()">Lưu giao dịch</button> -->
  </mat-grid-tile>
</mat-grid-list>