    <div nz-row *ngIf="media.query('gt-xs')">
        <div nz-col [nzSpan]="1" >
          </div>
        <div nz-col [nzSpan]="10" >
            <img class="img-s" src={{src[0]}} (click)="zoom(1)">
        </div>
        <div nz-col [nzSpan]="2" >
          </div>
        <div nz-col [nzSpan]="10" >
            <img class="img-s" src={{src[1]}} (click)="zoom(2)">
        </div>
        <div nz-col [nzSpan]="1" >
          </div>
      </div>

      <!-- small device -->
      <div nz-row *ngIf="!media.query('gt-xs')">
          <div nz-col [nzSpan]="24" >
              <img class="img-s" src={{src[0]}} (click)="zoom(1)">
          </div>
          <div nz-col [nzSpan]="24" >
              <img class="img-s" src={{src[1]}} (click)="zoom(2)">
          </div>
        </div>
      <div nz-row>
          <div nz-col [nzSpan]="6" >
              </div>
          <div nz-col [nzSpan]="18" >
            <p class="mat-body-strong"> Hình ảnh tài sản</p>
            </div>
        </div>

<nz-modal [(nzVisible)]="isZoom" nzTitle="Tài sản" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <img mat-card-image src={{current}} (click)="zoom()">
    <ng-template #modalFooter>
        <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">OK</button>
      </ng-template>
  </nz-modal>