<mat-nav-list flex>
            <ng-template let-item let-i="index" let-last="last" ngFor [ngForOf]="[0,1,2,3,4,5,6,7,8,9]">
              <a mat-list-item (click)="openDialog()">
                <img matListAvatar src="https://api.adorable.io/avatars/285/{{i}}@adorable.io.png" />
                <h4 matLine class="cursor-pointer"> Firstname Lastname </h4>
                <span flex="100" class="mat-caption tc-grey-600">first.last@email.com</span>
                <button mat-icon-button matTooltip="Star contact"><mat-icon>star_outline</mat-icon></button>
                <button mat-icon-button matTooltip="Edit contact"><mat-icon>edit</mat-icon></button>
                <button mat-icon-button matTooltip="More actions"><mat-icon>more_vert</mat-icon></button>
              </a>
              <mat-divider *ngIf="!last" mat-inset></mat-divider>
            </ng-template>
</mat-nav-list>