<form [formGroup]="personForm">
  <div class="container">
      <mat-grid-list [cols]="breakpoint" rowHeight="3:1" (window:resize)="onResize($event)">
          <mat-grid-tile >
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Họ" formControlName="fname" required>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile >
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Tên đệm" formControlName="mname" required>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile >
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Tên" formControlName="lname" required>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
  </div>
  <mat-grid-list [cols]="breakpoint" rowHeight="3:1" (window:resize)="onResize($event)">
    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="picker" placeholder="Ngày sinh" formControlName="birthDay">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>
      
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Số CMND" formControlName="card_id" type="text">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <mat-label>Giới tính:</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="1">
            Nam
          </mat-option>
          <mat-option value="2">
            Nữ
          </mat-option>
          <mat-option value="3">
            Khác
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <AutocompleteComponent (setAddress)="getAddress($event)" adressType="geocode"></AutocompleteComponent>
  <!-- <app-address #addrOwner></app-address> -->
  <!-- <div>
      <button mat-button color="primary" (click)="getDate()">Hien thi ngay</button>
    <button mat-button matStepperNext color="primary">Tiếp</button>
  </div> -->
</form>