<!-- <img matListAvatar src="https://api.adorable.io/avatars/285/1@adorable.io.png" />
<h4 matLine class="cursor-pointer">Mã số: {{redbook.no_land}} </h4>
<span matLine flex="100" class="mat-caption ">nnn</span>
<span flex="100" class="mat-caption ">43 Tran dai nghia phuong bach khao hai a trugn</span>
<button class="margin-5" mat-icon-button matTooltip="Xem trên Google map">
  <mat-icon color="primary">place</mat-icon>
</button>
<button class="margin-5" mat-icon-button matTooltip="Xoá sổ đỏ này">
  <mat-icon color="warn">delete_forever</mat-icon>
</button>
<button class="margin-5" mat-icon-button matTooltip="Đang nghĩ thêm">
  <mat-icon>more_vert</mat-icon>
</button> -->
<nz-skeleton *ngIf="!generalData" [nzAvatar]="true" ></nz-skeleton>
<a  *ngIf="generalData" mat-list-item >
    <img matListAvatar src="https://firebasestorage.googleapis.com/v0/b/redbook-c0408.appspot.com/o/pngtree-vector-flat-snowy-landscape-png-clipart_2530446.jpg?alt=media&token=3f44ed2d-849a-4c31-863f-7216b7a906b7" />
    <h4 matLine class="cursor-pointer">Mã số: {{redbook.no_land}} </h4>
    <span *ngIf="generalData.owner" matLine flex="100" class="mat-caption ">{{generalData.owner.fullname}}</span>
    <span *ngIf="!generalData.owner" matLine flex="100" class="mat-caption ">Chưa xác định</span>
    <span *ngIf="generalData.address" flex="100" class="mat-caption ">{{generalData.address}}</span>
    <span *ngIf="!generalData.address" flex="100" class="mat-caption ">Chưa cập nhật</span>
    <button *ngIf="generalData.lat && generalData.lng" class="margin-5" mat-icon-button matTooltip="Xem trên Google map"><mat-icon color="primary" (click)="displayMapEvent()">place</mat-icon></button>
    <!-- <button *ngIf="generalData.address.latitude" class="margin-5" mat-icon-button matTooltip="Cập nhật toạ độ"><mat-icon color="warn" (click)="updateGeoEvent()">place</mat-icon></button> -->
    <button class="margin-5" mat-icon-button matTooltip="Xoá sổ đỏ này"><mat-icon color="warn" (click)="deleteEvent()">delete_forever</mat-icon></button>
    <button class="margin-5" mat-icon-button matTooltip="Cập nhật ảnh"><mat-icon color="primary" (click)="uploadImageEvent()">insert_photo</mat-icon></button>
    <button class="margin-5" mat-icon-button matTooltip="Thêm giao dịch" (click)="addTransEvent()"><mat-icon color="accent">queue</mat-icon></button>
    <button class="margin-5" mat-icon-button matTooltip="Xem chi tiết" (click)="detail()"><mat-icon>more_vert</mat-icon></button>
  </a>
  <mat-divider mat-inset></mat-divider>

 