<div class="container">
  <mat-grid-list [cols]="breakpoint" rowHeight="5:5" (window:resize)="onResize($event)">
    <mat-grid-tile>
      <app-search-item [title]=" 'Tỉnh, thành' " [type]="'province'" (onchange)="updateIdAddr($event)"></app-search-item>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-search-item [title]=" 'Quận,huyện, thành phố thuộc tỉnh' " [type]="'district'" [preId]="provinceId" (onchange)="updateIdAddr($event)">
      </app-search-item>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-search-item [title]=" 'Xã, phường, thị trấn' " [type]="'ward'" [preId]="districtId" (onchange)="updateIdAddr($event)">
      </app-search-item>
    </mat-grid-tile>
    <mat-grid-tile>
      <td-search-input placeholder="Tên chủ sở hữu" [(ngModel)]="owner" [showUnderline]="true" [debounce]="500"
    (searchDebounce)="onSearch()" (search)="onSearch()" (clear)="searchInputTerm = ''">
  </td-search-input>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-button class="btn-nomally" (click)="onSearch()" >Tra cứu </button>
    </mat-grid-tile>
  </mat-grid-list>
  <span *ngIf="keySearch" class="text-super">Tìm kiếm: {{keySearch}} </span>
  <mat-divider></mat-divider>
</div>

