<mat-card *ngIf="!assetData">
    <nz-skeleton></nz-skeleton>
</mat-card>
<mat-card class="full-width" *ngIf="assetData" class="card-back">
    <mat-card-header>
        <mat-card-title >
        <span class="mat-title">
            <mat-icon matListIcon color="primary">assessment</mat-icon>
          II. Thông tin tài sản đi kèm</span>  
        </mat-card-title>
      </mat-card-header>
    <mat-card-content>
      <div nz-row>
        <div nz-col nzSpan="24">
          <span class="mat-subheading-2" >
              <mat-icon matListIcon color="primary">sort</mat-icon>
            Danh sách tài sản</span>
        </div>
      </div>
      <div nz-row *ngFor="let asset of assetData">
        <div nz-col nzSpan="3">
          <span></span>
        </div>
        <div nz-col nzSpan="13">
          <p class="mat-body-strong">+ Loại hình tài sản: {{asset.type}}</p>
          <p>+ Diện tích xây dựng: {{asset.area}}  m<sup>2</sup>  - Diện tích sử dụng: {{asset.area}} m<sup>2</sup></p>
          <p>+ Thời gian được thêm vào: {{asset.date}}   </p>
          <p>+. Chi tiết: {{asset.detail_info}}  </p>
        </div>
        <div nz-col *ngIf="media.query('gt-xs')" nzSpan="6">
          <app-image-view *ngIf="asset.images" [src]="asset.images"></app-image-view>
        </div>
        <div nz-col *ngIf="!media.query('gt-xs')" nzSpan="24">
            <app-image-view *ngIf="asset.images" [src]="asset.images"></app-image-view>
          </div>
        <mat-divider *ngIf="assetData"></mat-divider>
      </div>
    </mat-card-content>
    
  
  </mat-card>