<td-layout>
  <td-layout-nav>
      <div td-toolbar-content layout="row" layout-align="start center" flex>
          <mat-icon class="mat-icon-logo" svgIcon="assets:covalent"></mat-icon>
          <span>RED BOOKS ONLINE SYSTEM</span>
          <span flex></span>
      </div>
      <mat-sidenav-container fullscreen>
          <div tdMediaToggle="gt-xs" [mediaClasses]="['push-md']">
              <mat-card class="content">
                  <router-outlet></router-outlet>
              </mat-card>
          </div>
      </mat-sidenav-container>
  </td-layout-nav>
  <td-layout-footer>
      <div layout="row" layout-align="start center">
          <span class="mat-caption">Copyright &copy; 2017 Teradata. All rights reserved</span>
      </div>
  </td-layout-footer>
</td-layout>