.color-1{
    background: rgb(98, 180, 245)
}

.overflow-1{
    overflow: auto;
}

.margin-1{
    margin: 5px;
}

.card-rgb{
    background: #fce4ec;
    margin-bottom: 5px;
}

.text-header{
    color: red;
    align-content: center;
}

.card-back{
    background: #eceff1;
}