<mat-grid-list cols="4" rowHeight="300px" >
    <mat-grid-tile 
        [colspan]="3"
        [rowspan]="1"
        [style.background]="lightblue">
        <mat-grid-tile-header>
            Thông tin sổ đỏ
          </mat-grid-tile-header>
    </mat-grid-tile>
    <mat-grid-tile 
        [colspan]="1"
        [rowspan]="2"
        [style.background]="lightgreen">
      2
    </mat-grid-tile>
    <mat-grid-tile 
        [colspan]="1"
        [rowspan]="1"
        [style.background]="lightpink">
        assumes that it will be used in a purely decorative fashion an By default, the grid-list assumes that it will be used in a purely decorative fashion an By default, the grid-list assumes that it will be used in a purely decorative fashion an By default, the grid-list assumes that it will be used in a purely decorative fashion an By default, the grid-list assumes that it will be used in a purely decorative fashion an By default, the grid-list assumes that it will be used in a purely decorative fashion an By default, the grid-list assumes that it will be used in a purely decorative fashion an By default, the grid-list assumes that it will be used 
        assumes that it will be used in a purely decorative fashion an By default, the grid-list assumes that it will be used in a purely decorative fashion an By default, the grid-list assumes that it will be used in a purely decorative fashion an By default, the grid-list assumes that it will be used in a purely decorative fashion an By default, the grid-list assumes that it will be used in a purely decorative fashion an By default, the grid-list assumes that it will be used in a purely decorative fashion an By default, the grid-list assumes that it will be used in a purely decorative fashion an By default, the grid-list assumes that it will be used 
    </mat-grid-tile>
    <mat-grid-tile 
        [colspan]="2"
        [rowspan]="1"
        [style.background]="lightgreen">
      4
    </mat-grid-tile>
  </mat-grid-list>