<app-search-bar></app-search-bar>
<mat-card>
    <mat-grid-list cols="3" >
        <mat-grid-tile *ngFor="let redbook of redbooks" [style.border]="'1px solid #ddd'" >
            <mat-card class="card-item example-card">
                <mat-card-header>
                    <mat-card-title>{{redbook.title}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>{{redbook.content}}</mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <!-- <mat-grid-tile *ngFor="let redbook of redbooks" [style.border]="'1px solid #ddd'" >
                <mat-card class="card-item example-card">
                    <mat-card-header>
                        <mat-card-title>{{redbook.no_land}}</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="{{redbook.image_cover}}" >
                    <mat-card-content>{{redbook.onwer_name}}</mat-card-content>
                    <mat-card-footer> {{redbook.addr</mat-card-footer>
                </mat-card>
        </mat-grid-tile> -->
      </mat-grid-list>
      <mat-divider></mat-divider>
      <td-paging-bar #pagingBar [firstLast]="firstLast" [pageSize]="12" [total]="10000" (change)="change($event)">
        1 of 6
      </td-paging-bar>
</mat-card>